<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="TenantId" value="407cb3f4-71e4-46f0-8cc1-b6675bcbcb09"/>
    <add key="AppId" value="c2b34b51-8fd7-4cbc-886f-bb0973135d24"/>
    <add key="AppSecret" value="TBw5w1_uTIzc20t0nl6-7use_xnDv~nKi3"/>
    <add key="IdentityProviderUrl" value="https://login.microsoftonline.com"/>
    <add key="AppScope" value="DummyServiceScope"/>
    <add key="ServiceEndpoint" value="dummy"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>

